.categoriesList-container{
    display: flex;
    flex-direction: column;
}

 .categoriesList{
    margin: 2.5rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2.5rem;
}

.categoriesList .movieCard{
    width: 100%;
}

h1 {
    margin: 2em 0 0.5em 0.5em;
    text-align: left;
    color: #fdff00;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.8em;
    font-weight: 400;
}
